import os.path

APPLICATION = {
    'debug' : True,
    'gzip' : False,
    'cookie_secret': 'lolwut',
    "static_path": os.path.join(os.path.dirname(__file__), "static"),
    'template_path': os.path.dirname(__file__)
}

SERVER = {
    'port': 8080
}

REDIS = {
    'db': 0,
    'host': '127.0.0.1',
    'port': 6379,
}
