{% extends "_core.html" %}

{% block title %}Room{% end %}

{% block scripts %}
<script type="text/javascript" src="/static/js/room.js"></script>
{% end %}

{% block body %}
<div>
	<video id="video-player">
        <source src="{{video_url}}" type="video/mp4" />
	</video>
    <div id="video-controls">
        <button id="video-play">Play</button>
        <button id="video-pause">Pause</button>
    </div>
</div>
<div id="chat-container" class="container">
	<div id="chat-display">
		<div id="chat-window" class="span10">
		</div>
		<div id="roll-call-window" class="span2">
		</div>
	</div>
	<div id="chat-input">
		<form onsubmit="return false;" id="socket_form">
			<input type="text" id="chatText" />
            <button id="chatSubmit">Send</button>
		</form>
	</div>
    <div id="source-url-input">
		<form onsubmit="return false;" id="source_url_form">
			<input type="text" id="source_url_input" />
            <button id="sourceSubmit">Set Source</button>
		</form>
    </div>
    <div id="ping-hud"></div>
</div>

{% end %}
